.main {
  flex: 1;
}

.bg-dark {
  background-color: #12002b;
  display: flex;
  flex-direction: column;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; 
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; 
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; 
}

.header {
  color: #fff;
  margin-bottom: 2rem;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
  flex-direction: row;
}

.account-amount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.account-amount-description {
  margin: 0;
}

.account-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}

.account-content-wrapper {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; 
}

.edit-button, .save-button, .cancel-button {
  width: 150px;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  background-color: #00bc77;
  color: #fff;
  border: none;
  cursor: pointer;
}

.transaction-button {
  width: 200px; 
  align-self: flex-end;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  background-color: #00bc77;
  color: #fff; 
  cursor: pointer;
}


.input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  color: #fff; 
  flex-direction: row;
}

.input-wrapper label {
  width: 30%; 
  margin-right: 10px;
  text-align: right; 
  color: white;
}

.input-wrapper input {
  flex: 1;
  max-width: 150px; 
  padding: 8px;
  border: 1px solid #ccc;
}

.input-wrapper input[readonly] {
  background-color: #c9c7c7;
  color: #737373;
}

.buttons-container {
  display: flex;
  justify-content: start;
  gap: 10px; 
}

@media (max-width: 920px) {
  .account {
    flex-direction: column;
  }

  .transaction-button, .edit-button, .save-button, .cancel-button {
    width: 100%;
  }

  .buttons-container {
    flex-direction: column; 
  }
}
